<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLy</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-warning" role="alert">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/changepwd" method="POST">
        Enter New password :
        <input type="password" name="newpwd" placeholder="Enter New Password"><br><br>
        <input type="submit">
    </form>
</body>

</html>