<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>BookLy</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-warning" role="alert">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
        <a href="{{url_for('home')}}" class="link-dark">
            <font face="Comic sans MS" style="padding:2%" size=" 10">Book.ly</font>
        </a>
    <form action="/changepwd" style="text-align:center;padding:10%"  class="border border-warning" method="POST">
        <h3>Enter New password :</h3>
        <input type="password" name="newpwd" placeholder="Enter New Password">
        <input type="submit" value="Submit" class="btn btn-outline-warning">
    </form>
</body>
<a class="top-link hide" href="" id="js-top">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
	<span class="screen-reader-text"></span>
</a>
<script>
	// Set a variable for our button element.
	const scrollToTopButton = document.getElementById('js-top');

	// Let's set up a function that shows our scroll-to-top button if we scroll beyond the height of the initial window.
	const scrollFunc = () => {
	// Get the current scroll value
	let y = window.scrollY;
	
	// If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
	if (y > 0) {
		scrollToTopButton.className = "top-link show";
	} else {
		scrollToTopButton.className = "top-link hide";
	}
	};

	window.addEventListener("scroll", scrollFunc);

	const scrollToTop = () => {
	// Let's set a variable for the number of pixels we are from the top of the document.
	const c = document.documentElement.scrollTop || document.body.scrollTop;
	
	// If that number is greater than 0, we'll scroll back to 0, or the top of the document.
	// We'll also animate that scroll with requestAnimationFrame:
	// https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
	if (c > 0) {
		window.requestAnimationFrame(scrollToTop);
		// ScrollTo takes an x and a y coordinate.
		// Increase the '10' value to get a smoother/slower scroll!
		window.scrollTo(0, c - c / 10);
	}
	};

	// When the button is clicked, run our ScrolltoTop function above!
	scrollToTopButton.onclick = function(e) {
	e.preventDefault();
	scrollToTop();
	}
</script>
</html>
