<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>BookLy</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-warning" role="alert">
        {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
        <a href="{{url_for('home')}}" class="link-dark">
            <font face="Comic sans MS" style="padding:2%" size=" 10">Book.ly</font>
        </a>
    <form action="/changepwd" style="text-align:center;padding:10%"  class="border border-warning" method="POST">
        <h3>Enter New password :</h3>
        <input type="password" name="newpwd" placeholder="Enter New Password">
        <input type="submit" value="Submit" class="btn btn-outline-warning">
    </form>
</body>

</html>
