{% extends 'client/header.html' %}


{% block content %}

<div class="d-flex justify-content-center">
<div class="col-lg-6" style="background-color: #f5f5f5">
	<h2 class="text-center p-2">Login</h2>
	<form class="form-group" action="/login" method="POST">
		<!-- added required in both input by arpit -->
		<input class="form-control p-2" type="email" name="email" placeholder="Enter Your Email" required><br>
		<input class="form-control p-2" type="password" name="password" placeholder="Enter your password" required><br>
		<input type="submit" class="btn btn-block btn-dark" name="submit-btn" value="Login">
		<a href="{{url_for('forgotpwd')}}">Forgot Password<a></a>
	</form>
</div>

{% endblock content %}