<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<div class="modal fade" id="abc" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{profile.name}}'s  Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
        <form class="form-group" action="/myprofile" method="POST">
          <input class="form-control p-2" type="email" name="email" placeholder="Enter Your Email" disabled=true  value="{{ profile['email'] }}"><br>
          <input class="form-control p-2" type="text" name="password" placeholder="Enter new password"> <br>        
          <div style="float:right">  
            <button type="submit" class="btn btn-success py-2">Save</button>
            <button type="button" class="btn btn-danger py-2" data-dismiss="modal">Cancel</button>
            <br><br>
          </div>
        </form>
        {%if transactions|length!=0%}
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th>Book</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {%for i in transactions%}
                  <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[4]}}</td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
        {%endif%}
        {%if transactions|length==0%}
            <h2>No transactions</h2>
        {%endif%}
      </div>
    </div>
  </div>
</div>
<a class="top-link hide" href="" id="js-top">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
	<span class="screen-reader-text"></span>
</a>
<script>
	// Set a variable for our button element.
	const scrollToTopButton = document.getElementById('js-top');

	// Let's set up a function that shows our scroll-to-top button if we scroll beyond the height of the initial window.
	const scrollFunc = () => {
	// Get the current scroll value
	let y = window.scrollY;
	
	// If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
	if (y > 0) {
		scrollToTopButton.className = "top-link show";
	} else {
		scrollToTopButton.className = "top-link hide";
	}
	};

	window.addEventListener("scroll", scrollFunc);

	const scrollToTop = () => {
	// Let's set a variable for the number of pixels we are from the top of the document.
	const c = document.documentElement.scrollTop || document.body.scrollTop;
	
	// If that number is greater than 0, we'll scroll back to 0, or the top of the document.
	// We'll also animate that scroll with requestAnimationFrame:
	// https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
	if (c > 0) {
		window.requestAnimationFrame(scrollToTop);
		// ScrollTo takes an x and a y coordinate.
		// Increase the '10' value to get a smoother/slower scroll!
		window.scrollTo(0, c - c / 10);
	}
	};

	// When the button is clicked, run our ScrolltoTop function above!
	scrollToTopButton.onclick = function(e) {
	e.preventDefault();
	scrollToTop();
	}
</script>
