{% extends 'client/header.html' %}


{% block content %}

<div class="d-flex justify-content-center">
<div class="col-lg-6" style="background-color: #f5f5f5">
	<h2 class="text-center p-2">Signup</h2>
	
	<form class="form-group" action="{{ url_for('register') }}" method="POST">
		<!-- added required in all fields by arpit  -->
		<input class="form-control p-2" type="email" name="email" placeholder="Enter Your Email" required><br>
		<input class="form-control p-2" type="text" name="username" placeholder="Enter Your Username" required><br>
		<input class="form-control p-2" type="password" name="password" placeholder="Enter your password" required><br>
		<input class="form-control p-2" type="number" name="age" placeholder="Enter your Age" required><br>
		<input class="form-control p-2" type="text" name="location" placeholder="Enter your Location (Example : Niskayuna, New York, USA)" required><br>
		<input type="submit" class="btn btn-block btn-dark" name="submit-btn" value="Signup">
	</form>
</div>
</div>
<a class="top-link hide" href="" id="js-top">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
	<span class="screen-reader-text"></span>
</a>
{% endblock content %}