{% extends 'client/header.html' %}
{% block content %}
    <div class="col-lg-12 ">
        <div class="row shadow p-3">
        <div class="col-lg-4 p-4 " style="justify-content: center;">
            <img src="{{ url_for('static',filename='solar.jpg') }}" class="img img-fluid" alt="SOS">
        </div>
        <div class="col-lg-6 text-center">
            <b>Title: </b> <span id="item-name">Shoes</span><br>
            <b>Subject: </b><span id="item-subject">Design and Clothing</span><br>
            <div class="d-flex row justify-content-center">
            <div class="d-flex star-widget flex-row-reverse justify-content-center">
                <input type="radio" name="rate" id="rate-1" value="5" ><label for="rate-1"  class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-2" value="4"><label for="rate-2" class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-3" value="3"><label for="rate-3" class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-4" value="2"><label for="rate-4" class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-5" value="1"><label for="rate-5" class="fa fa-star"></label>

                <div class="row m-1" style="font-weight: bold; width: 100%;">
                    <header id="rating-review"></header>
                </div>
                
            </div>
            </div><br>
            <b>Price: </b> <span id="item-price">200</span>$ <br>
            <b>Status: </b><span id="item-status">In Stock</span><br><br>
            <div style="display:block;">
                <input type="number" id="item-value" class="mr-1" value="1" min=1 max=4>
                <a href="#!" id="add-to-cart" class="btn btn-info">Add to Cart</a>
            </div>

        </div>
    </div>

    </div>
    
{% endblock %}
