{% extends 'header.html' %}
{% block content %}
    <div class="col-lg-12 ">
        <div class="row shadow p-3">
        <div class="col-lg-4 p-4 " style="justify-content: center;">
            <img src="solar.jpg" class="img img-fluid" alt="SOS">
        </div>
        <div class="col-lg-6 text-center">
            <h6>Title: Working of Solar Panel</h6><br>
            <h6>Subject : Design and Electronics</h6><br>
            <div class="d-flex row justify-content-center">
            <div class="d-flex star-widget flex-row-reverse justify-content-center">
                <input type="radio" name="rate" id="rate-1" value="5" ><label for="rate-1"  class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-2" value="4"><label for="rate-2" class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-3" value="3"><label for="rate-3" class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-4" value="2"><label for="rate-4" class="fa fa-star"></label>
                
                <input type="radio" name="rate" id="rate-5" value="1"><label for="rate-5" class="fa fa-star"></label>

                <div class="row m-1" style="font-weight: bold; width: 100%;">
                    <header id="rating-review"></header>
                </div>
                
            </div>
            </div><br>
            <h6>Price : 200$</h6><br>
            <h6>Status : In Stock</h6><br>
            <div style="display: inline-block;">
                <a href="#" class="btn btn-info">Add to Cart</a>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-start mt-5" >
        <button class=" btn btn-dark m-2" id="desc">Description</button>
        <button id="product" class="btn btn-dark m-2">Product Info</button>
        <button id="reviews" class="btn btn-dark m-2">Reviews</button>
    </div>
    <hr>
    <div class="row" style="height:auto">
        <p id="desc-para" style="text-align: justify;">
            <strong>Description</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        
        <p class="inactive" id="product-para">
            <strong>About Product</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

        </p>
        <p class="inactive" id="reviews-para">
            <strong>Reviews</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>



    </div>

</div>

    

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script>

        $(document).ready(function(){
         
            $('#desc').click(function(){
              $('#desc-para').show(100);
                $('#product-para').hide();
                $('#reviews-para').hide();
            })
            $('#product').click(function(){
                $('#product-para').show(100);
                $('#desc-para').hide();
                $('#reviews-para').hide();
            })
            $('#reviews').click(function(){
                $('#reviews-para').show(100);
                $('#desc-para').hide();
                $('#product-para').hide();
            })

            var fetch_rating=0;

            $('input:radio').click(()=>{
                
                fetch_rating= $('input[type=radio][name=rate]:checked').attr('value')
                console.log(fetch_rating)

                data_to_send = {
                    user_id:"BX1023",
                    user_rating:fetch_rating,
                }
                console.log(data_to_send);
                    
                $.ajax({
                    url:"/home",
                    type:"post",
                    data:data_to_send,
                    success: function(){
                        console.log("Data Sent...")
                    },
                    error: function(){
                        console.log("Data Error...")
                    }

                }) // ajax
            }) // clickes
         
        }) // doc

    </script>

{% endblock %}
