body {
  background-color: #f3efee;
}


.intro, .credit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Monserrat', sans-serif;
  color: #c07a95;
  margin: 5px;
  letter-spacing: 2px;
}
.credit a {
  text-decoration: none;
  margin: 5px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item {
  min-width: 0;
  margin: 5px;
  transition: 0.8s ease;
  box-shadow: 5px 5px 10px 2px #cccccc;
}

.item img {
  width: 450px;
  max-height: 210px;
  max-width: 100%;
}

.item:hover {
  transform: scale(0.9);
}