<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {% block head %}
    {% endblock head %}
    <title>Admin Bookly</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/darkmode.css') }}">
</head>
<body>
        <nav class="navbar navbar-expand-lg">
            <a href="{{url_for('admin_index')}}" class="link-dark">
                <font face="Comic sans MS" style="padding:2%" size=" 10">Book.ly</font>
            </a>
            <div class="container-fluid" style="padding-left: 55%;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-warning btn-md" aria-current="page" href="{{url_for('admin_add_book')}}">Add Book</a>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="btn btn-info" href="{{url_for('admin_contact_request')}}">Contact Request</a>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="btn btn-warning btn-md" href="{{url_for('admin_logout')}}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <br><br>
<div class="container">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="col-lg-6 errors">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,msg in messages %}

            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% else %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {% endif %}

                    <strong>{{msg}}</strong>

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    {% block body %}
    {% endblock body %}
    <script src="{{ url_for('static',filename='js/darkmode.js') }}"></script>
</body>
</html>